<header>
    <a href="/">
        <img id="logo" src="/img/pikachu-pokemon.gif" alt="Logo">
    </a>
    <nav>
        <ul>
            <a href="/"> <li> Home </li> </a>
            <a href="/cadastro"> <li> Cadastro </li> </a>
        </ul>
    </nav>
    </section>
</header>